@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #a1dae1;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.w-full {
  width: 100% !important;
}
@keyframes pigeonBop {
  0%, 100% { 
    transform: translateY(0px); 
  }
  50% { 
    transform: translateY(-8px); /* Adjust this number higher if you want a bigger jump! */
  }
}